<div id="search"></div>

<link
  href="/pagefind/pagefind-ui.css"
  rel="stylesheet"
/>

<script is:inline src="/pagefind/pagefind-ui.js"></script>

<script is:inline>
  new PagefindUI({
    element: "#search",
    showSubResults: true,
    resetStyles: false,
    placeholder: "Search health articles..."
  });
</script>