---
const { title = "Better Health Facts" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={Astro.props.description || "Better Health Research Articles"} />

  <link rel="canonical" href={Astro.url} />

  <meta property="og:type" content="article" />
  <meta property="og:title" content={Astro.props.title} />
  <meta property="og:description" content={Astro.props.description} />
  <meta property="og:url" content={Astro.url} />
  <style>
    :root {
      --bg: #ffffff;
	  --text: #111827;
	  --muted: #6b7280;
	  --primary: #0f766e;
	  --border: #e5e7eb;
	  --radius: 12px;
    }

    body {
	  font-family: system-ui, -apple-system, sans-serif;
	  background: var(--bg);
	  color: var(--text);
	  margin: 0;
    }

    a {
      text-decoration: none;
      color: var(--primary);
    }

    header {
	  background: var(--primary);
	  color: white;
	  padding: 15px 20px;
	  position: sticky;
	  top: 0;
	  z-index: 1000;
	}

	nav {
	  margin-top: 8px;
	}

	nav a {
	  color: white;
	  margin-right: 18px;
	  font-weight: 500;
	}

	nav a:hover {
	  text-decoration: underline;
	}


    main {
      max-width: 900px;
      margin: auto;
      padding: 20px;
    }

    footer {
      background: #f3f4f6;
      padding: 20px;
      text-align: center;
      font-size: 14px;
      margin-top: 40px;
    }

    .card {
	  border: 1px solid #e5e7eb;
	  padding: 20px;
	  border-radius: 10px;
	  margin-bottom: 20px;
	  transition: 0.2s ease;
	  background: #ffffff;
	}

	.card h3 {
	  margin-top: 0;
	}

	.card:hover {
	  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
	  transform: translateY(-3px);
	}

    @media (max-width: 600px) {
      main {
        padding: 15px;
      }
    }
  </style>
</head>

<body>

<header>
  <strong>Better Health Research</strong>
  <nav>
    <a href="/">Home</a>
    <a href="/articles/">Articles</a>
    <a href="/about/">About</a>
    <a href="/disclaimer/">Disclaimer</a>
  </nav>
</header>

<main>
  <slot />
</main>

<footer>
  © {new Date().getFullYear()} BetterHealthFacts Research.
</footer>

</body>
</html>
